
h2{
    text-align:center;
    padding: 20px;
  }
  /* Slider */

  .slick-slide {
      margin: 0px 20px;
  }

  .slick-slide img {
      width: 100%;
  }

  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }

  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;		
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }

  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }

  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  .baleen-logo h1 {
      font-family: GlovinTribe;
      font-size: 40px;
      color: #e06099;
  }
  .baleen-logo span{
      
      font-size: 40px;
      color: #0097d0;
  }

  .fa-spin-hover:hover {			   
         color: red;
         transition: 0.9s;
         transform: rotateY(180deg);
      }
  .justify {
      text-align: justify;	
  }		

@font-face {
      font-family: 'GlovinTribe';
      src: url('assets/fonts/GlovinTribe-BLqnG.otf') format('opentype'),
           url('assets/fonts/HollyGrooveThree-MAOmn.ttf') format('truetype'),
           url('assets/fonts/Boomamoritaregular-YqAW4.otf') format('opentype');
      font-weight: normal;
      font-style: normal;

      
  }
  @font-face {
      font-family: 'BathYork';
      src: url('assets/fonts/BathYork-1j9qj.otf') format('opentype');
      font-weight: normal;
      font-style: normal;
  }
#bs4navbar .menu-item .dropdown-menu a{
background-color: #fffaed;
color: #212121;
}
#bs4navbar .menu-item .dropdown-menu a:hover{
background-color:black;
  color:whitesmoke;
}
/* ---------------------------------------------------------------loadings */
.main-preloader-inner{
  display:flex;
  justify-content:center;
  align-items:center;
  

}
/* From Uiverse.io by Nawsome */ 

.loader {
position: relative;
left:90px;
width: 250px;
height: 100px;

}

.loader__bar {
position: absolute;
bottom: 0;
width: 10px;
height: 50%;
background: black;
transform-origin: center bottom;
box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
left: 0px;
transform: scale(1, 0.2);
-webkit-animation: barUp1 4s infinite;
animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
left: 15px;
transform: scale(1, 0.4);
-webkit-animation: barUp2 4s infinite;
animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
left: 30px;
transform: scale(1, 0.6);
-webkit-animation: barUp3 4s infinite;
animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
left: 45px;
transform: scale(1, 0.8);
-webkit-animation: barUp4 4s infinite;
animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
left: 60px;
transform: scale(1, 1);
-webkit-animation: barUp5 4s infinite;
animation: barUp5 4s infinite;
}

.loader__ball {
position: absolute;
bottom: 10px;
left: 0;
width: 10px;
height: 10px;
background: rgb(44, 143, 255);
border-radius: 50%;
-webkit-animation: ball624 4s infinite;
animation: ball624 4s infinite;
}

@keyframes ball624 {
0% {
transform: translate(0, 0);
}

5% {
transform: translate(8px, -14px);
}

10% {
transform: translate(15px, -10px);
}

17% {
transform: translate(23px, -24px);
}

20% {
transform: translate(30px, -20px);
}

27% {
transform: translate(38px, -34px);
}

30% {
transform: translate(45px, -30px);
}

37% {
transform: translate(53px, -44px);
}

40% {
transform: translate(60px, -40px);
}

50% {
transform: translate(60px, 0);
}

57% {
transform: translate(53px, -14px);
}

60% {
transform: translate(45px, -10px);
}

67% {
transform: translate(37px, -24px);
}

70% {
transform: translate(30px, -20px);
}

77% {
transform: translate(22px, -34px);
}

80% {
transform: translate(15px, -30px);
}

87% {
transform: translate(7px, -44px);
}

90% {
transform: translate(0, -40px);
}

100% {
transform: translate(0, 0);
}
}

@-webkit-keyframes barUp1 {
0% {
transform: scale(1, 0.2);
}

40% {
transform: scale(1, 0.2);
}

50% {
transform: scale(1, 1);
}

90% {
transform: scale(1, 1);
}

100% {
transform: scale(1, 0.2);
}
}

@keyframes barUp1 {
0% {
transform: scale(1, 0.2);
}

40% {
transform: scale(1, 0.2);
}

50% {
transform: scale(1, 1);
}

90% {
transform: scale(1, 1);
}

100% {
transform: scale(1, 0.2);
}
}

@-webkit-keyframes barUp2 {
0% {
transform: scale(1, 0.4);
}

40% {
transform: scale(1, 0.4);
}

50% {
transform: scale(1, 0.8);
}

90% {
transform: scale(1, 0.8);
}

100% {
transform: scale(1, 0.4);
}
}

@keyframes barUp2 {
0% {
transform: scale(1, 0.4);
}

40% {
transform: scale(1, 0.4);
}

50% {
transform: scale(1, 0.8);
}

90% {
transform: scale(1, 0.8);
}

100% {
transform: scale(1, 0.4);
}
}

@-webkit-keyframes barUp3 {
0% {
transform: scale(1, 0.6);
}

100% {
transform: scale(1, 0.6);
}
}

@keyframes barUp3 {
0% {
transform: scale(1, 0.6);
}

100% {
transform: scale(1, 0.6);
}
}

@-webkit-keyframes barUp4 {
0% {
transform: scale(1, 0.8);
}

40% {
transform: scale(1, 0.8);
}

50% {
transform: scale(1, 0.4);
}

90% {
transform: scale(1, 0.4);
}

100% {
transform: scale(1, 0.8);
}
}

@keyframes barUp4 {
0% {
transform: scale(1, 0.8);
}

40% {
transform: scale(1, 0.8);
}

50% {
transform: scale(1, 0.4);
}

90% {
transform: scale(1, 0.4);
}

100% {
transform: scale(1, 0.8);
}
}

@-webkit-keyframes barUp5 {
0% {
transform: scale(1, 1);
}

40% {
transform: scale(1, 1);
}

50% {
transform: scale(1, 0.2);
}

90% {
transform: scale(1, 0.2);
}

100% {
transform: scale(1, 1);
}
}

@keyframes barUp5 {
0% {
transform: scale(1, 1);
}

40% {
transform: scale(1, 1);
}

50% {
transform: scale(1, 0.2);
}

90% {
transform: scale(1, 0.2);
}

100% {
transform: scale(1, 1);
}
}
#navbar {

transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
/* -----------------------------------------------xxxx----------------------- */

    /* .about-section_top .container {
        margin-right:0px;
        
    } */
    .faqbtn-div button:focus{
    outline:none;

}
    @media screen and (min-width:1304px){
        body{
            zoom:130%;
        } 
        body .about-section_top p {
            font-family: "Barlow", sans-serif;
            font-size: 25px;
            color:gray;
            padding-bottom:50px; 
        }
        body .gl-review {
            padding-bottom:100px;
        }

    }
    
       .about-section_top{
        
        background-color:#F1EAFF;
            
            
            padding-top:50px;
            border:0px;
           
           
        }
        .about-content_top{
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;

        }
        .wave{
            width: 100%;
        }
        .about-section_top h1 {
            font-family: "SUSE", sans-serif;
           
            font-size: 50px;
            font-weight:200;
            
            animation-name:bannerani;
            animation-duration: 3s;
            
            
        }
        .about-section_top h1 span{
            font-family: "Gloria Hallelujah", cursive;
                font-weight: 800;
                
            /* font-style: italic; */
            animation-name:spanclr;
            animation-duration: 4s;
        }
        .about-section_top p {
            font-family: "Barlow", sans-serif;
            font-size: 18px;
            text-align:left;
            color:gray;
            padding-bottom:50px; 
        }
        .rating{
    margin:0px;
    max-width:150px;
    display:flex;
    overflow:hidden;
    padding:20px;
    padding-top:10px;
}



        @keyframes spanclr {
  0%{color:white;}
  50%{color:gray;}
  100%{color:black;}
}
@keyframes bannerani {
  0%   {padding-top:500px;}
  100%{padding-top:0px;}
}
.gl-review {
padding-bottom:100px;
font-size:25px;
text-align:center;
}
.gl-review h4{
    font-size:25px;
}
.gl-review h6{
    font-size:18px;
}

       /*===================================================================homepage body */

/* -------------------------------------------------------- */
        .about-section_about {
          
           
            
            background-color:white;
        }
        .WhatWeDo{
            
            background-color:#F1EAFF;
        }
        
        

        .about-section_about h1 {
            font-family: "poppins";
           font-weight:bold;
            text-align:left;
            border-bottom:1px solid gray;
            margin-bottom:10px;
            padding-bottom:10px;
        }
        .about-section_about p {
            font-size:15.5px;
            font-weight:bold;
            margin-bottom:20px;
            font-family: "Nunito", sans-serif;
            text-align:justify;
            line-height:1.4;
            color:#3d3d3d;
            
        }
        .btn{
            margin-bottom:20px;
        }


    

        .about-section {
            padding-top:20px;
            
            background-image:url("");
            
            background-size:cover;
            background-position:bottom;
            box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.15);
         
        }
      
    
        .about-content {
           
            padding: 2rem;
            border-radius: .5rem;
            
           
        }
        .about-content h1 {
            font-size: 1.75rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
        .about-content p {
            font-size: 1.125rem; /* Increase font size */
            margin-bottom: 1.5rem;
            margin-top: 0.625rem;
           
        }
        .ConsultYou-btn a {
            font-size: 1.5rem;
            
            font-weight: 700;
            text-decoration: none;
        }
        .service-item {
            background-color:#f6efdd;
            /* background-image: linear-gradient( white,#fbe6b0); */
            border-radius: 0px;
            box-shadow:10px 12px 0px black;
            border:3px solid black;
            /* box-shadow:0px 0px 5px gray; */
            animation-name:example;
            animation-duration: 40s;
        }
        @keyframes example {
  0%   {border:solid black;}
  
  100% {border:solid gold;}
}

        .service-item-content a:hover{
            color:#06a806;
        }

        .service-item .service-icon a {
            background-color: #29556b;
            margin-bottom:10px;
            box-shadow:0px 0px 3px gray;
            
        } 
/* ---------------------------------------------------------------------------------------------testimonials  */
.testimonials { 
    background-color:whitesmoke;
    padding:20px 0px;
    text-align:center;
}
.testimonials img{
    width: 150px;
  
}
.testimonials h4 {
    font-size:25px;
    font-family: "Montserrat";
    font-weight:600;
}
.testimonials p{
    font-size:12px;
    font-family:'Nunito'
}
.card {
   
    border-radius:1px 20px 20px 20px;
    
    margin:5px 0px;
    background-color:white;

}
.card-body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


/* -- --------------------------------------------------------------------------new card book -- */
 /* From Uiverse.io by eslam-hany */ 
.book {
  position: relative;
  border-radius: 10px;
  /* width: 220px;
  height: 300px; */
  
  height: 300px;
  background-color: white;
  background-image: linear-gradient(  whitesmoke, #f6efdd);
  /* 
  box-shadow: 1px 1px 12px #000; */
 
  transform: preserve-3d;
  
  perspective: 2000px;
 
  display: flex;
  flex-direction:column;
  align-items: center;
 
  justify-content: center;
  
}
.book .Whatsapp:hover {
    color:#06a806;
    text-decoration: underline
}
.book a{
    color:black;
}

.cover {
  top: 0;
  position: absolute;
  background-color: white;
  width:100%;
  height: 300px;
  border-radius: 10px;
  
  cursor: pointer;
  
  transition: all 0.5s;
 
  transform-origin:-10px;
  
  /* box-shadow: 0px 0px 12px #000; */
 
  display: flex;
  
  align-items: center;
 
  justify-content: center;
  flex-direction:column;
}
.cover img{
    width:250px;
    height: 300px;
    
}

.book:hover .cover {

  transition: all 0.5s;
  
  transform: rotatey(-90deg);
}

.book p {
    padding: 20px;
    padding-bottom:10px;
    font-family:'Nunito';
  font-size: 18px;
  font-weight: 400;
  color:black;
}
.cover h4 {
    font-family: "Montserrat", sans-serif;
    font-size:20px;
    font-weight:500;
    padding:20px ;
}
/* .book a:hover{
color:blue;
} */
.readbtn{
    width: 150px;
    padding:10px;
    border-radius:10px;
    border:inherit;
    background-color:white;
    font-family: "Montserrat", sans-serif;
    font-size:20px;
    font-weight:400;
    margin-bottom:20px;
}
.readbtn:hover {
    box-shadow:0px 0px 8px  #c5c5c594;
    color:purple;
    animation-name:textclr;
    animation-duration: 1s;
}
@keyframes textclr {
  0%   {color: black;}
  
  50% {color: violet;}
  100%{color: purple;}
}
/* ----------------------------------------------------------------------testi */
.testi{
    background-color:#F7EFE5;
    padding-bottom:35px;
    
}
.testicard {
   background-color:white;
   padding:20px;
   margin: 10px 0px;
   box-shadow: 0 20px 30px -30px rgba(5, 5, 5, 0.24);

}
.testitop{
    display:flex;
    align-items:center;
    margin-bottom:20px;
    
}
.avatar{
   background-color:#F1EAFF;
   padding:17px;
   border-radius:50%;
   box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
}
.testibody{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
}
.testibody p {
    font-size:16px;
    font-family:'Nunito';
    font-weight:normal;
    line-height:1.4;
}
.testitop h2{
    font-size:22px;
    font-family: "Poppins";
    font-style:Sans-serif;
    font-weight:bold;
    padding:0px;
    margin:0px;
}
.testitop .name{
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin-left:10px;
}

.testi-rating{
font-size:15px;
}

.testi  a {
    color:black;
    font-family: "Poppins";
    font-style:Sans-serif;
    font-size:12px;
   
}


/*---------------------------------------------------------------------------------- faq-------- */
.faq-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    

}
.faq-container button{
    border:0px  solid black;
    
    background-color:whitesmoke;
    font-size:20px;
    
}
.faqbtn-div{
    padding:20px;
    margin-bottom:10px;
    background-color:whitesmoke;
    border-bottom:5px  solid #B99470;
    border-radius:15px;
    width:90%;
}
.faqcard-div{
    width:90%;
    font-size:16px;
    text-wrap:wrap;
    margin:0px 20px;
    margin-bottom:10px;
}
.faqbtn-div:hover{
    box-shadow: 0 20px 30px -30px rgba(0, 0, 0, 1);
    width:91%;
}
.faq-card{
    padding:20px;
    border-radius:1px 20px 20px 20px;
    border-bottom:5px  solid #B99470;
    /* background-color:#874430; */
    background-color:#F7EFE5;
    color:black;
}
@media screen and (min-width:1025px){
    .faqbtn-div{
    padding:20px;
    margin-bottom:10px;
    background-color:whitesmoke;
    border-bottom:5px  solid #B99470;
    border-radius:15px;
    width:70%;
}
.faqbtn-div:hover{
    box-shadow: 0 20px 30px -30px rgba(0, 0, 0, 1);
    width:71%;
}
.faqcard-div{
    width:70%;
    font-size:16px;
    text-wrap:wrap;
    margin:0px 20px;
    margin-bottom:10px;
}


}
        .faq-bg{
            background-color:#F1EAFF;
            padding:20px 0px;
        }
        .foc_bg{
            /* background-image: linear-gradient(  #eeee, #f8f9fa); */
            background-color: #FFFBF5;
        }
/* FAQ carousel------------------- */

        
        /* ---------------------buttton */
       /* From Uiverse.io by cssbuttons-io */ 
.btn1 {
 position: relative;
 font-size: 17px;
 text-transform: uppercase;
 text-decoration: none;
 padding: 1em 2.5em;
 display: inline-block;
 border-radius: 6em;
 transition: all .2s;
 border: none;
 font-family: inherit;
 font-weight: 500;
 color: whitesmoke;
 background-color: #9376E0;
}

.btn1:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn1:active {
 transform: translateY(-1px);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn1::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 transition: all .4s;
}

.btn1::after {
 background-color: gray;
}

.btn1:hover::after {
 transform: scaleX(1.4) scaleY(1.6);
 opacity: 0;
}
.customer-logos {
    zoom:50%;
}
  /*==============================================footer  */
  
  .quotation {
      background-color:#f8f9fa;
      text-align:center;
      padding:50px 0px;
      
  }
 
  
  .terms{
      font-size:16px;
      
  
  }
  .terms a {
color:white;
  }
  .site-footer a:hover {
color:#F1aAFF;
  }
  marquee a{
      color:white;
  }
  marquee a:hover{
      color:#F1aAFF;
      }
  .menu li a:hover{
      color:#F1aAFF;
  }
  .list-inline li a:hover{
      color:#F1aAFF;
  }	
  #backtotop i {
    cursor: pointer;
border-radius: 50%;
color: #ffffff;
background: #af82ff;
padding: 20px;
transition: .3s;
font-size:20px;
}	
#backtotop{
width:50px;
height:30px;
}
